<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Module 12, Exercise 2</title>

	<script type="text/javascript" src="https://www.gstatic.com/firebasejs/3.5.0/firebase.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../js/user.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link rel="stylesheet" href="../css/main.css">
</head>
<body>
	<nav>
		<div class="blue nav-wrapper">
			<a href="" class="brand-logo" id="username"></a>
			<a href="" class="right" id="signout">Sign out</a>
		</div>
	</nav>
</body>
</html>